<div class="container-fluid diagnosis">
    <div class="card center" style="width: 30%;">
        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Cough</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>                
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Fever</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>                
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Sore Throat</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>                
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Shortness of Breath</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>                
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Headache</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>                
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Age Group</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">>=60</option>
                    <option value="0"><60</option>
                  </select>                
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Gender</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                  </select>                
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Contact with confirmed case</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>                
            </div>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark">Check</button>
            </div>
        </div>
    </div>
</div>

